# SQL Test

import sqlite3
import pandas as pd
conn = sqlite3.connection('sql_test_data')

Write a query to return the customer_name, product_name, and total_amount for each sale in the last 30 days.

In [ ]:
q = '''
select customer_name, product_name, total_amount
from sales
join customers on customer_id = customer_id
join products on product_id = product_id
where sale_date >= curdate() - interval 30 day;
'''

pd.read_sql(q, conn)

Write a query to find the total revenue generated by each product category in the last year. The output should include the product category and the total revenue for that category.

In [ ]:
q = '''
select category,
sum(total_amount) as total_revenue
from sales
join products on product_id = product_id
where sale_date >= curdate() - interval 1 year
group by category;
'''
pd.read_sql(q, conn)

Write a query to return all customers who made purchases in 2023 and are located in the "West" region.

In [ ]:
q = '''
select customer_name, customer_id, sales_region
from sales
join customers on customer_id = customer_id
where sale_date between '01-01-2023' and '12-31-2023'
and sales_region = 'west';
'''
pd.reead_sql(q, conn)

Write a query to display the total number of sales, total quantity sold, and total revenue for each customer. The result should include the customer_name, total sales, total quantity, and total revenue.

In [ ]:
q = '''
select customer_name, count(sales_id) as total_sales, sum(quantity) as total_quantitiy, sum(total_amount) as total_revenue
from sales
join customers on customer_id = cusotomer_id
group by customer name;
'''
pd.read_sql(q, conn)

Write a query to find the top 3 customers (by total revenue) in the year 2023.

In [ ]:
q = '''
salect customer_name
sum(total_amount) as total_revenue
from sales
join customers on customer_id = customer_id
where sale_date between '01-01-2023' and '12-31-2023'
group by customer_name
order by total_revenue desc
'''
pd.read_sql(q, conn)

Write a query to rank products by their total sales quantity in 2023. The result should include the product_name, total quantity sold, and rank.

In [ ]:
q = '''
select product_name, sum(quantity) as total_quantity_sold, rank() over(order by sum(quantity) desc) as rank
from sales
join products on product_id = product_id
where sale_date between '01-01-2023' and '12-31-2023'
group by product_name
order by
rank;
'''
pd.read_sql(q, conn)

Write a query that categorizes customers into "New" (if they signed up in the last 6 months) or "Existing" based on their sign_up_date. Include the customer_name, region, and category in the result.

In [ ]:
q = '''
select customer_name, sales_region
case
    when sighn_up_date >= curdate() - interval 6 month then 'new'
    else 'existing'
end as category
from customers;
'''
pd.read_sql(q, conn)

Write a query to return the month and year along with the total sales for each month for the last 12 months.

In [ ]:
q = '''
select
date_format(sale_date, %m-%y) as month_year,
sum(total_amount) as total_sales
from sales
where sale_date >= curdate() interval 12 month
group by month_year
order by month_year desc
'''
pd.read_sql(qq, conn)

Write a query to return the product categories that generated more than $50,000 in revenue during the last 6 months.

In [ ]:
q = '''
select category
sum(total_amount) as total_revenue
from sales
join products on product_id = product_id
where sale_date >= curdate() - interval 6 month
group by category
having sum(total_amount) > 50000;
'''
pd.read_sql(q, conn)

Write a query to check for any sales where the total_amount doesnâ€™t match the expected value (i.e., quantity * price).

In [ ]:
q = '''
sales_id, customer_id, product_id, quantity, total_amount, price, (quantity * price) as expected
from sales
join products on product_id = product_id
where total_amount != quantity * price;
'''